# Core Framework
Django==5.1.4
djangorestframework==3.15.2

# Security & CORS
django-cors-headers==4.6.0
python-dotenv==1.0.1

# Database
psycopg2-binary==2.9.9
PyMySQL==1.1.1

# HTTP & API
requests==2.31.0
urllib3==2.2.3

# Production Server
gunicorn==23.0.0
whitenoise==6.8.2

# PDF Generation
reportlab==4.0.7
pypdf==6.14.2

# Utilities
sqlparse==0.5.3
asgiref==3.8.1
typing_extensions==4.12.2
tabulate==0.10.0

# Excel / Spreadsheet
openpyxl==3.1.5
pandas==2.2.3
Pillow==10.4.0
