[Unit]
Description=Code2Day Django Backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/srv/code2day/backend
Environment="DJANGO_SETTINGS_MODULE=code2day.settings"
EnvironmentFile=/srv/code2day/backend/.env
ExecStart=/srv/code2day/backend/.venv/bin/gunicorn -c /srv/code2day/backend/gunicorn.conf.py code2day.wsgi:application
Restart=always
RestartSec=5
KillSignal=SIGQUIT
TimeoutStopSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
